@(title: String)(implicit messagesProvider: MessagesProvider)

@main("About") {
    <h2>About Us</h2>
    <div class="row">
        <div class="col-6">
            <br>
            <p>Raf Sobol:      Project Lead</p>
            <br>
            <p>Evi Nikolaidou: Design Lead</p>
            <br>
            <p>John Pooler:    Developer</p>
            <br>
            <p>Nathan Rees:    Developer</p>
            <br>
            <p>Malik Bensalem: Developer</p>
            <br>
            <a href="/contact">
            <button>Contact Us</button>
            </a>
        </div>
        <div class="col-3">
            <div class="selective-img">

            <a href="https://twitter.com/explore">
                <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_960_720.png" alt="Twitter" style="width:100%">
            </a>
            </div>
            <div class="selective-img">
            <a href="https://www.facebook.com/">
                <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834007_960_720.png" alt="Facebook" style="width:100%">
            </a>
            </div>
        </div>
        <div class="col-3">
            <div class="selective-img">
            <a href="https://www.instagram.com/">
                <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_960_720.png" alt="Instagram" style="width:100%">
            </a>
            </div>
            <div class="selective-img">
            <a href="https://www.youtube.com/">
                <img src="https://cdn.pixabay.com/photo/2016/11/18/11/17/social-1834016_960_720.png" alt="Youtube" style="width:100%">
            </a>
            </div>
        </div>
    </div>
}