@import models.Booking



@(form: Form[Booking], title: String, screenings: List[String])(url: String = "#")(implicit messagesProvider: MessagesProvider, flash: Flash)


@flash.get("success").getOrElse("")

@helper.form(routes.BookingController.submitForm) {
    <div style="display:none">@helper.select(form("film"), Seq(title -> title))</div>
    @helper.select(form("screening"), screenings.map(screening =>  screening.toString -> DisplayFormats.screeningDisplay(screening)))
    @helper.inputText(form("name"), '_label -> "Name", 'placeholder -> "Booker's name")
    @helper.inputText(form("seats(0)"), '_label -> "Adults", 'type -> "number")
    @helper.inputText(form("seats(1)"), '_label -> "Children", 'type -> "number")
    @helper.inputText(form("seats(2)"), '_label -> "Concessions", 'type -> "number")
    <button class="btn btn-info" type="submit" data-dismiss="modal">Book now</button>
    <a class="btn btn-success" onclick="show()" href="@url" target="_blank">Pay via PayPal</a>


}

