@(message: String)
@main("Movie Classifications"){

    <style>
            body {
                background-color: #264653;
            }

            div {
                color: #ffca95;
                margin-left: 100px;
            }

            .color-box {
                background-color: white;
                position: absolute;
                height: 80%;
                left: 10%;
                top: 20%;
                right:20%;
            }
    </style>

    <div class="color-box" ></div>



}
