@import models.Commends
@(form: Form[Commends], comments: List[Commends])(implicit flash: Flash, messagesProvider: MessagesProvider)

@main("Create Comments!") {
    <h2> title-goes-here review </h2>
    @flash.get("Success").getOrElse("Leave a Comment!")
    @helper.form(routes.CommendSectionController.submitCommend) {
        @helper.inputText(form("name"), '_label -> "Nameresources")
        @helper.inputText(form("email"), '_label -> "Email")
        @helper.inputText(form("movieName"), '_label -> "Movie Name")
        @helper.inputText(form("comment"), '_label -> "Comment")
        @helper.inputRadioGroup(form("rating"),
                               Seq("1" -> "One Star", "2" -> "Two Stars", "3" -> "Three Stars"),
                               'label -> "Rating: "
                               )
        <button class="btn btn-info" type="submit">Add comment</button>
    }
}