@import models.Commends

@(commForm: Form[Commends], title: String, comments: List[Commends])(implicit flash: Flash, messagesProvider: MessagesProvider)


    @flash.get("Success").getOrElse("Leave a Comment!")

    @helper.form(routes.CommendSectionController.submitCommend) {
        @helper.inputText(commForm("name"), '_label -> "Your Name")
        @helper.inputText(commForm("email"), '_label -> "Email")
        <div style="display: none">@helper.select(commForm("movieName"), Seq(title -> title))</div>
        @helper.inputText(commForm("comment"), '_label -> "Comment")
        @helper.inputRadioGroup(commForm("rating"),
            Seq("1" -> "One Star", "2" -> "Two Stars", "3" -> "Three Stars"),
            'label -> "Rating: "
        )
        <button class="btn btn-info" type="submit">Add comment</button>
    }
