
@()

@main("Admin  Email") {

<!DOCTYPE html>
    <html>
        <body>

            <h2>Send e-mail to CinemaAdmin@@gmail.com:</h2>

            <form action="mailto:CinemaAdmin@@gmail.com" method="post" enctype="text/plain">
    Name:<br>
<input type="text" name="name"><br>
    E-mail:<br>
<input type="text" name="mail"><br>
    Comment:<br>
        <textarea name="comment" cols="50" rows="7"></textarea><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>
}

