@(title: String)

@main(title) {
    <div class="row">
        <div class="col-sm-12">
            <center>
                <img style="width: 50%" src="https://cdn.pixabay.com/photo/2015/07/30/11/04/film-867234_1280.png" alt="Logo">
            </center>
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-6 ">
                <a href="/gallerymovies">
                    <button style="width: 100%"><h2>Released Movies</h2></button>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="/upcoming">
                    <button style="width: 100%"><h2>Upcoming Movies</h2></button>
                </a>
            </div>

    </div>
}