@(title: String)

@main(title) {
    <div class="row">
        <div class="col-sm-12">
            <center>
                <img src="https://www.pinclipart.com/picdir/middle/115-1155244_film-reel-icon-movie-logo-png-clipart.png" alt="Logo">
            </center>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 selective-img bgImg">
            <a href="gallerymovies">
                <center>
                <h2>Released Movies</h2>
                </center>
            </a>
        </div>
    </a>
    <a href="upcomingmovies">
        <div class="col-sm-6 selective-img bgImg">
            <center>
                <h2>Upcoming Movies</h2>
            </center>
        </div>
    </a>
</div>
}
