@(message: String)

@main("Home") {
    <div class="row">
        <div class="col-sm-12">
            <center>
                <img src="http://vignette4.wikia.nocookie.net/treasure-planet/images/6/61/Full_image_placeholder.jpg/revision/latest?cb=20130709151342" class="img" alt="Logo">
            </center>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h1>Currently Showing</h1>
            <a href="PLACEHOLDER">
            <img style="width: 100%" src="https://pixy.org/images/placeholder.png" alt="Currently Showing">
            </a>
        </div>
        <div class="col-sm-6">
            <h1>Upcoming Releases</h1>
            <a href="PLACEHOLDER">
            <img style="width: 100%" src="https://pixy.org/images/placeholder.png" alt="Upcoming Releases">
            </a>
        </div>
    </div>
}
