
@*
* email:    sb-4jqvb1247840@personal.example.com
* password: 2b>j"B7l
*@
@(authorizeUrl:String)(implicit messagesProvider: MessagesProvider)



@main("Welcome to Play") {

<!DOCTYPE html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <a href=@authorizeUrl target="_blank">click me to buy ticket though paypal</a>




        <script
    src="https://www.paypal.com/sdk/js?client-id=AU2PsgPZmOKjOX6uFScyLxX6Y_3TyQYuaIiQJjZW7amomHDUNAIeHbLHDFFUuuZpeTz-XmIcIyaFW0Gn"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>
        <script
        src="https://www.paypal.com/sdk/js?client-id=AU2PsgPZmOKjOX6uFScyLxX6Y_3TyQYuaIiQJjZW7amomHDUNAIeHbLHDFFUuuZpeTz-XmIcIyaFW0Gn"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
        </script>
        <div id="paypal-button-container"></div>

        <script>
                paypal.Buttons({
                    createOrder: function(data, actions) {
                        // This function sets up the details of the transaction, including the amount and line item details.
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: 69.00
                                }
                            }]
                        });
                    },
                    onApprove: function(data, actions) {
                        // This function captures the funds from the transaction.
                        return actions.order.capture().then(function(details) {
                            // This function shows a transaction success message to your buyer.
                            alert('Transaction completed by ' + details.payer.name.given_name);
                        });
                    }
                }).render('#paypal-button-container');
                //This function displays Smart Payment Buttons on your web page.
        </script>

    </body>

}
