@(message: String)
@main("Screens"){

    <style>
            body {
                background-color: #264653;
            }

            h1 {
                color: #000000;
                top: 20%;
                margin-left: 15px;
                font-size: 40px;
            }
            h2 {
                color: #000000;
                top: 20%;
                margin-left: 15px;
                font-size: 20px;
            }

            div {
                color: #000000;
                margin-left: 100px;
            }

            .color-box {
                background-color: #ffeecd;
                align:"center";
                position: absolute;
                height: 90%;
                left: 10%;
                top: 20%;
                right: 20%;
            }

            img {
                width: 100px;
                height: 100px;
                alignment: left;
            }
    </style>

    <div class="color-box" align="left" >
        <h1 align="left"> Our Screens</h1>
        <br>
            <button onclick="screen1()">Screen 1</button>
            <button onclick="screen2()">Screen 2</button>
            <button onclick="deluxeBox()">Deluxe Box </button>
        <br>
        <br>
        <div align="center" >
        <img src="cinema1.jpg">
        <br>
        <img src="cinema2.jpg">
        </div>
    </div>
}